#container > div {
    border-color: black;
    border-style: solid;
    border-width: .1px;
    margin: 0px;
    padding: 0px;
    float: left;
}

#container {
    height: 600px; /* Change these to match the Java Script Variable of GRID_SIZE*/
    width: 600px; 
    border-color: Red;
    border-width: 50px;
    border-style: solid;
    text-align: center;
    margin: auto;
}

.activated {
    background-color: black;
}
